.wh-leaderboard-section {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 4vh;
	align-items: center;
}

.wh-leaderboard-attributes {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.wh-leaderboard-attributes span {
	font-size: 4vh;
	/* color: rgb(177, 177, 177); */
	color: #ff472e !important;
}

.wh-leaderboard-team {
	display: flex;
	width: 80%;
	background-color: var(--clr-gray-900);
	padding: 1vh;
	border-radius: 1vh;
}

.wh-leaderboard-teamname {
	display: flex;
	flex: 1;
	align-items: center;
	font-size: 2.7vh;
	color: white;
	font-family: nasalization-rg;
}

.wh-leaderboard-reward {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	font-size: 2.6vh;
	color: white;
	font-family: nasalization-rg;
}

.wh-leaderboard-container {
	height: 71vh;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 2.8vh;
	overflow-y: scroll;
	/* z-index: 10; */
}

.wh-leaderboard-ranking {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	color: white;
	gap: 1rem;
	font-family: nasalization-rg;
}

.wh-leaderboard-rank {
	font-size: 2.5vh;
}

.wh-leaderboard-ranking-up {
	color: var(--clr-secondary-800);
}

.wh-leaderboard-ranking-down {
	color: red;
}

.wh-leaderboard-ranking-stable {
	color: var(--clr-gray-100);
}

.wh-leaderboard-rank-symbol {
	color: var(--clr-gray-900);
}

.wh-leaderboard-rank-1 {
	color: gold;
}

.wh-leaderboard-rank-2 {
	color: silver;
}

.wh-leaderboard-rank-3 {
	color: burlywood;
}

/* .tessaract {
	position: absolute;
	background-image: url(../../assets/loder-no-background.gif);
	background-repeat: no-repeat;
	background-size: contain;
	height: 60%;
	width: 55%;
	top: 22%;
	left: 37%;
	opacity: 0.15;
} */
